* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

:root {
  --header-bg: #10375c;
  --primary-color: #2e80ce;
}

/* Common */
.section-heading {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--header-bg);
}

.section-desc {
  margin-top: 18px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #575f66;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 60px;
  display: inline-block;
  min-width: 205px;
  height: var(--height);
  padding: 0px 20px;
  border-radius: 99px;
  border: 1px solid var(--primary-color);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  line-height: var(--height);
  color: #ffffff;
  background: var(--primary-color);
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.control {
  display: flex;
  column-gap: 18px;
}

.control__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid #575f66;
  border-radius: 50%;
  background: #ffffff;
  color: #575f66;
  outline: none;
  transition: 0.25s;
}

.control__btn:hover {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
}

.control-next-icon {
  rotate: 180deg;
}

/* Header */
.header {
  min-height: 100vh;
  padding-top: 30px;
  background: var(--header-bg);
}

.header-top {
  display: flex;
}

.logo {
  display: inline-flex;
  position: relative;
  font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: var(--primary-color);
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #ffffff;
}

.logo__text {
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
  color: #ffffff;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header Top */
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}

.header-action__login,
.navbar__link {
  padding: 4px 21px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #c9d2da;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__login {
  margin-right: 7px;
}

.header-action__signup {
  --height: 44px;
  min-width: 104px;
}

.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #ffffff;
}

.navbar__link--active::before {
  position: relative;
  left: -8px;
  top: -2px;
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  margin-top: 76px;
}

.hero__content {
  flex-shrink: 0;
  width: 44%;
}

.hero__media {
  flex-grow: 1;
}

.hero__heading {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hero__desc {
  margin-top: 22px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #c9d2da;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__phone {
  margin-left: 38px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #ffffff;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: end;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/* Services */
.services {
  padding: 170px 0;
}

.services__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.services__heading,
.services__desc {
  text-align: center;
}

.services__desc {
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.services__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.services__list {
  margin-bottom: 55px;
}

/* Services Item */
.services-item {
  display: flex;
  border-radius: 10px;
  background: #ffffff;
  padding: 22px;
  width: 470px;
  transition: 0.25s;
}

.services-item:hover {
  position: relative;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05);
}

.services-item:hover .services-item__icon {
  background: #2e80ce;
  color: #ffffff;
}

.services-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: var(--header-bg);
  background: #eff6fd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  transition: 0.25s;
}

.services-item__body {
  margin-left: 19px;
}

.servies-item__heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.27;
  color: var(--header-bg);
}

.servies-item__desc {
  margin-top: 8px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #575f66;
}

/* Work */
.work {
  padding: 100px 0;
  background: #f6fbff;
}

.work__desc {
  width: 468px;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 70px;
}

.work-item {
  padding: 43px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  transition: 0.25s;
}

.work-item:hover {
  transform: translateY(-16px);
  border-color: var(--primary-color);
}

.work-item__heading {
  margin-top: 18px;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.38;
  color: #10375c;
}

.work-item__more,
.work-item__desc {
  margin-top: 28px;
  font-weight: 300;
  font-size: 1.6;
  line-height: 1.75;
  color: #575f66;
}

.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #2e80ce;
}

/* Feature */
.feature {
  margin-top: 85px;
  padding: 85px 0;
}

.feature__inner {
  display: flex;
  align-items: center;
  column-gap: 130px;
}

.feature__media {
  width: 48%;
}

.feature__images {
  position: relative;
  padding: 0 58px 121px 0;
}

.feature__img {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.feature__img:last-child {
  position: absolute;
  width: 332px;
  height: 370px;
  right: 0;
  bottom: 0;
}

.feature__cta {
  margin-top: 38px;
}

/* Member */
.member {
  padding: 85px 0;
  text-align: center;
}

.member__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__cta {
  margin-top: 38px;
}

.member__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  margin-top: 70px;
}

.member-item:hover .member-item__thumb {
  transform: scale(1.1);
}

.member-item__img-bg {
  padding-top: 28px;
  background: #eaf6ff;
  border-radius: 6px;
  overflow: hidden;
}

.member-item__thumb {
  display: block;
  max-width: 100%;
  height: 290px;
  object-fit: cover;
  transition: 0.25s;
}

.member-item__name {
  margin-top: 12px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--header-bg);
}

.member-item__title {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #575f66;
}

.member__control {
  display: flex;
  margin-top: 38px;
  justify-content: center;
  column-gap: 18px;
}

/* Install */
.install {
  margin-top: 180px;
}

.install__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 0 70px;
  background: var(--primary-color);
}

.install__img {
  display: block;
  width: 284px;
  height: 522px;
  margin-top: -95px;
  object-fit: cover;
}

.install__content {
  max-width: 586px;
}

.install__heading,
.install__desc {
  color: #ffffff;
}

.install__heading {
  max-width: 489px;
}

.install__row {
  display: flex;
  column-gap: 28px;
  margin-top: 38px;
}

/* News */
.news {
  margin-top: 85px;
  padding: 85px 0;
}

.news__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__content {
  flex-shrink: 0;
}

.news__heading {
  max-width: 470px;
}

.news__more {
  display: block;
  margin-top: 28px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.56;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  color: #10375c;
}

.news__control {
  margin-top: 28px;
}

.news__list {
  display: flex;
  column-gap: 30px;
  max-width: 570px;
}

.news-item {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.25s;
}

.news-item:hover {
  box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
  transform: translateY(-16px);
}

.news-item:hover .news-item__body {
  border-color: #ffffff;
}

.news-item__thumb {
  height: 172px;
  overflow: hidden;
}

.news-item__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item__body {
  padding: 24px 24px 16px;
  background: #ffffff;
  border-top: none;
  border: 1px solid #e8ebee;
  border-radius: 0 0 12px 12px;
  transition: 0.25s;
}

.news-item__heading {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #10375c;
}

.news-item__desc {
  margin-top: 10px;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #575f66;
}

.news-item__more {
  display: inline-block;
  margin-top: 12px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8;
  color: var(--primary-color);
}
